@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Outline';
    src: url('src/assets/porticoOutline.otf');
}

@font-face {
    font-family: 'porticoregular';
    src: url('src/assets/portico_regular_400-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

